body{
    background-color: #101316 !important;
    justify-content: center ;
    text-align: center !important;
}
h2{
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    color:white;
    width: 50px;
}
button{
    margin: 1rem !important;
    width: 100px;
}


h2.miliseconds{
    font-size: x-large;
}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10rem !important;
    margin-top: 3rem !important;
    font-family: 'Orbitron', sans-serif;
}
h1 img{
   margin-right: 10px;
   margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 3rem 0;
}

footer .copyright {
    color:  #d7dbdd ;
    margin-top: 9rem;
    margin-bottom: -1rem;
}
